# WordPress
wp

# WP-CLI
db-sync
sql-dump-*.sql

# Application
wp-content/plugins/*
!wp-content/plugins/index.php
wp-content/upgrade
wp-content/uploads/*
!wp-content/uploads/.gitkeep

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep
